:host {
  .task-progress-container {
    .task-progress {
      width: 500px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      border-radius: 15px;

      span {
        color: var(--secondary-color);
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      .task-progress-title {
        font-weight: 800;
        letter-spacing: initial;
        font-size: 1.4rem;
      }

      .task-progress-bar {
        width: 100%;
        height: 10px;
        background-color: var(--tertiary-color-dark);
        border-radius: 10px;
      }

      .task-progress-bar-fill {
        height: 100%;
        width: 0%;
        background-color: var(--blue-primary-color);
        border-radius: 10px;
        transition: width 0.5s ease;
      }
    }

    @media (max-width: 900px) {
      .task-progress {
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }

    @media (max-width: 650px) {
      .task-progress {
        width: 300px;
      }
    }
  }
}
