<form [formGroup]="form" ajustDialogWhenKeyboardActiveDirective>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Digite a novo nome</mat-label>
      <input
        matInput
        #input
        maxlength="50"
        formControlName="editName"
        [value]="form.get('editName')?.value"
        appPreventSpaceOnEmptyInput
      />
      <mat-hint align="end">{{ input.value.length }}/50</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="dialog-edit-buttons">
    <button
      class="button-submit"
      type="submit"
      (click)="save(form.get('editName')?.value)"
      [disabled]="form.invalid"
    >
      Editar
    </button>
    <button class="button-cancel" (click)="close()">Cancelar</button>
  </div>
</form>
