@import "/src/scss/variables.scss";
:host {
  .dialog-edit-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      flex: 1;
    }
  }

  .button-submit[disabled] {
    background-color: #9e9e9e;
  }
}
