<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>CEP</mat-label>
      <input
        matInput
        formControlName="cep"
        (blur)="consultaCEP()"
        [mask]="'00000-000'"
      />
      <mat-error>
        <app-error-msg
          [control]="form.controls.cep"
          [label]="'CEP'"
        ></app-error-msg>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input matInput formControlName="rua" />
    </mat-form-field>
  </div>

  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="bairro" />
    </mat-form-field>
  </div>

  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="cidade" />
    </mat-form-field>
  </div>

  <div class="input-box grid-span-2">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="estado" />
    </mat-form-field>
  </div>

  <button type="submit">Enviar</button>

  <div *ngIf="loading$$ | async">
    <mat-spinner [diameter]="70"></mat-spinner>
  </div>
</form>
