@import "src/scss/variables.scss";

:host {
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    mat-form-field {
      width: 100%;
    }

    .spinner {
      margin-top: 25px;
    }

    button {
      cursor: pointer;
      background-color: var(--blue-secondary-color);
      &[disabled] {
        cursor: not-allowed;
        &:hover {
          background-color: var(--blue-secondary-color);
        }
      }
      &:hover {
        background-color: var(--blue-primary-color);
      }
    }

    .grid-span-2 {
      grid-column: span 2;
    }

    .grid-span-3 {
      width: 100%;
      grid-column: span 3;
    }
  }

  @media (max-width: 1200px) {
    form {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 1000px) {
    form {
      display: block;
    }
  }
}
