<form [formGroup]="form" (ngSubmit)="onSubmit()" class="showUp">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>CEP</mat-label>
      <input
        matInput
        formControlName="cep"
        (blur)="consultaCEP()"
        [mask]="'00000-000'"
      />
      <ng-container *ngIf="cepIsLoading">
        <mat-spinner [diameter]="35" class="spinner-cep"></mat-spinner>
      </ng-container>

      <mat-error>
        <app-error-msg
          [control]="form.controls.cep"
          [label]="'CEP'"
        ></app-error-msg>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="input-box">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="estado" readonly />
    </mat-form-field>
  </div>

  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="cidade" readonly />
    </mat-form-field>
  </div>

  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="bairro" readonly />
    </mat-form-field>
  </div>

  <div class="input-box grid-span-2">
    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input matInput formControlName="rua" readonly />
    </mat-form-field>
  </div>

  <button class="grid-span-3" type="reset">Limpar</button>
</form>
