@import "src/scss/variables.scss";

:host {
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    .input-box {
      margin-bottom: 0px;
      .spinner-cep {
        position: absolute;
        right: 0;
        top: -12px;
        color: var(--blue-primary-color);
      }

      @media (max-width: 768px) {
        margin-bottom: 12px;
      }
    }

    mat-form-field {
      width: 100%;
    }

    .spinner {
      margin-top: 25px;
    }

    button {
      cursor: pointer;
      border: none;
      padding: 12px 0px;
      color: #ffffff;
      background-color: var(--blue-primary-color);
      border-radius: 4px;
      transition: 0.25s ease;

      &[disabled] {
        cursor: not-allowed;
        background-color: var(--blue-secondary-color);
        &:hover {
          background-color: var(--blue-secondary-color);
          transform: scale(1);
        }
      }
      &:hover {
        transform: scale(1.01);
      }
    }

    .grid-span-2 {
      grid-column: span 2;
    }

    .grid-span-3 {
      width: 100%;
      grid-column: span 3;
    }
  }

  @media (max-width: 1200px) {
    form {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 1000px) {
    form {
      display: block;
    }
  }
}

::ng-deep .mat-form-field {
  .mat-select-min-line {
    color: var(--secondary-color);
  }
  .mat-input-element {
    color: var(--secondary-color);
  }
  .mat-form-field-label {
    color: var(--secondary-color);
  }
  .mat-form-field-underline {
    background-color: var(--blue-primary-color);
  }
  .mat-form-field-ripple {
    background-color: var(--blue-primary-color);
  }
}

::ng-deep .mat-form-field.mat-focused {
  mat-icon {
    color: var(--blue-primary-color);
  }
  .mat-form-field-label {
    color: var(--blue-primary-color);
  }
  .mat-form-field-ripple {
    background-color: var(--blue-primary-color);
  }
  .mat-form-field-required-marker {
    color: var(--blue-primary-color);
  }
  .mat-input-element {
    color: var(--secondary-color);
  }
}

::ng-deep {
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: var(--blue-primary-color) !important;
  }
}
