.countrie-list-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  justify-content: center;
}

@media (max-width: 1600px) {
  .countrie-list-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1250px) {
  .countrie-list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .countrie-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .countrie-list-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
