<app-countries-search
  (filters)="filterCountryOrRegion($event)"
  [country]="allCountries$ | async"
></app-countries-search>
<section class="countries-list-container">
  <ng-container *ngIf="allCountries$ | async as countries; else loading">
    <ng-container *ngIf="countries.length; else emptyList">
      <ul class="countries-list-grid">
        <li *ngFor="let country of countries">
          <app-countrie-card [country]="country"></app-countrie-card>
        </li>
      </ul>
    </ng-container>
    <ng-template #emptyList>
      <div class="country-not-found showUp">
        <p>Não há um país com esse nome.</p>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</section>
