<div class="account-container">
  <h1 class="showBottom">Crie sua conta</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="showUp">
    <div class="input-box">
      <mat-form-field appearance="fill">
        <mat-label>Nome de usuário</mat-label>
        <input matInput formControlName="userName" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>
          <app-error-msg
            [control]="form.controls.userName"
            [label]="'Nome'"
          ></app-error-msg>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>
          <app-error-msg
            [control]="form.controls.email"
            [label]="'Email'"
          ></app-error-msg>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error>
          <app-error-msg
            [control]="form.controls.password"
            [label]="'Senha'"
          ></app-error-msg>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" [disabled]="!form.valid">Enviar</button>

    <a (click)="deleteAccount()">excluir conta</a>
  </form>
</div>
