:host {
  .painel-open-delete-button {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      color: var(--secondary-color);
    }
  }

  .mat-card {
    padding: 5px 10px;
    background-color: var(--bg-color);
  }

  .mat-icon {
    color: var(--tertiary-color);
  }

  &:hover {
    .mat-card {
      transition: 0.2s ease;
      background: var(--bg-color-dark);
    }
    .mat-icon {
      transition: 0.2s ease;
      color: var(--red-primary-color);
    }
  }
}
