<div class="account-infos-container">
  <ul class="showLeft">
    <li>
      <h4>UserName</h4>
      <span>{{ dataAccount.username }}</span>
    </li>
    <li>
      <h4>Email</h4>
      <span>{{ dataAccount.email }}</span>
    </li>
    <li>
      <h4>Password</h4>
      <span>{{ dataAccount.password }}</span>
    </li>
  </ul>

  <div class="actions showUp">
    <!-- <button class="saveAccount" (click)="editAccount()">Editar conta</button> -->
    <button class="deleteAccount" (click)="deleteAccount()">
      excluir conta
    </button>
  </div>
</div>
