@import "/src/scss/variables.scss";

:host {
  .subtask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    color: $secondary-color;
  }

  .mat-checkbox {
    color: $secondary-color;
  }
  .mat-checkbox-frame {
    border-color: white;
  }

  .mat-icon {
    color: $secondary-color;
    cursor: pointer;
  }
}
