@import "/src/scss/variables.scss";

:host {
  .subtask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text-checked {
      text-decoration: line-through;
    }

    .mat-checkbox-layout .mat-checkbox-label {
      color: $secondary-color;
    }

    .mat-checkbox {
      color: $secondary-color;
    }
    .mat-checkbox-frame {
      border-color: white;
    }

    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        transition: color 0.2s ease;
      }
    }

    .subtask-item-actions {
      display: flex;
      align-items: center;
      color: $secondary-color;

      .edit {
        &:hover {
          color: $blue-primary-color;
        }
      }

      .delete {
        &:hover {
          color: $red-primary-color;
        }
      }
    }
  }
}
