@import "src/scss/variables.scss";

:host {
  main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-container {
      border-radius: 16px;

      .form-left-title {
        margin-bottom: 32px;
        h1 {
          color: var(--blue-primary-color);
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.15;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
    }

    @media (max-width: 1500px) {
      .form-container {
        display: block;
      }
    }

    @media (max-width: 1000px) {
      .form-container {
        width: 80%;
      }
    }
  }

  @media (max-width: 900px) {
    main {
      padding: 64px 0px;
    }
    .form-container {
      width: 90%;
    }
  }
}
