<section class="detail-main">
  <div class="details-nav showLeft">
    <button routerLink="/restcountries">
      <mat-icon class="icon-nav">keyboard_backspace</mat-icon>
      <p>Back</p>
    </button>
  </div>
  <section class="country-container">
    <img class="showUp" src="{{ country.flags.png }}" />

    <div class="country-content-container showRight">
      <div class="country-content">
        <h2>{{ country.name ? country.name.common : "N/A" }}</h2>
      </div>
      <div class="country-infos">
        <div class="country-infos-left">
          <ul>
            <li>
              <span>Native Name:</span>
              {{
                country.name.nativeName
                  ? country.name.nativeName[keyLanguage].common
                  : "N/A"
              }}
            </li>
            <li>
              <span>Population:</span>
              {{ country ? (country.population | population) : "N/A" }}
            </li>
            <li><span>Region:</span> {{ country ? country.region : "N/A" }}</li>
            <li>
              <span>Sub Region:</span>
              {{ country.subregion ? country.subregion : "N/A" }}
            </li>
          </ul>
        </div>
        <div class="country-infos-rigth">
          <ul>
            <li>
              <span>Capital:</span>
              {{ country.capital ? country.capital : "N/A" }}
            </li>
            <li>
              <span>Top Level Domain:</span>
              {{ country.tld ? country.tld[0] : "N/A" }}
            </li>
            <ng-container *ngIf="country.currencies">
              <li
                *ngFor="
                  let currencyName of getCurrencyNames(country.currencies);
                  let last = last
                "
              >
                <span>Currencies</span> {{ currencyName }}{{ last ? "" : ", " }}
              </li>
            </ng-container>
            <ng-container *ngIf="country.languages">
              <li>
                <span>Languages:</span>

                <ng-container
                  *ngFor="
                    let language of getLanguageArray(country.languages);
                    let last = last
                  "
                >
                  {{ language }}{{ last ? "" : ", " }}
                </ng-container>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="country-borders-container">
        <ng-container *ngIf="borders">
          <h2>Border Countries:</h2>
          <ng-container *ngFor="let border of borders">
            <button routerLink="/restcountries/details/{{ border }}">
              {{ border }}
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>
</section>
