<p>country-detail works!</p>
<section class="country-container">
  <div class="country-image">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_the_Taliban.svg"
      alt=""
    />
  </div>
  <div class="country-content-container">
    <div class="country-content">
      <h2>Afeganistão</h2>
    </div>
    <div class="country-infos">
      <div class="country-infos-left">
        <ul>
          <li>Native Name:</li>
          <li>Population:</li>
          <li>Region:</li>
          <li>Sub Region:</li>
        </ul>
      </div>
      <div class="country-infos-rigth">
        <ul>
          <li>Capital:</li>
          <li>Top Level Domain:</li>
          <li>Currencies:</li>
          <li>Languages:</li>
        </ul>
      </div>
    </div>
    <div class="country-borders-container">
      <span>Border Countries:</span>
      <div class="country-borders-conte"></div>
    </div>
  </div>
</section>
