<section class="detail-main">
  <div class="details-nav showLeft">
    <button routerLink="/restcountries">
      <mat-icon class="icon-nav">keyboard_backspace</mat-icon>
      <p>Back</p>
    </button>
  </div>
  <section class="country-container">
    <img class="showUp" src="{{ country.flags.png }}" />

    <div class="country-content-container showRight">
      <div class="country-content">
        <h2>{{ country.name.common }}</h2>
      </div>
      <div class="country-infos">
        <div class="country-infos-left">
          <ul>
            <li>
              <span>Native Name:</span>
              {{ country.name.nativeName[keyLanguage].common }}
            </li>
            <li><span>Population:</span> {{ country.population }}</li>
            <li><span>Region:</span> {{ country.region }}</li>
            <li><span>Sub Region:</span> {{ country.subregion }}</li>
          </ul>
        </div>
        <div class="country-infos-rigth">
          <ul>
            <li><span>Capital:</span> {{ country.capital }}</li>
            <li><span>Top Level Domain:</span> {{ country.tld[0] }}</li>
            <li
              *ngFor="
                let currencyName of getCurrencyNames(country.currencies);
                let last = last
              "
            >
              <span>Currencies</span> {{ currencyName }}{{ last ? "" : ", " }}
            </li>

            <li>
              <span>Languages:</span>
              <ng-container
                *ngFor="
                  let language of getLanguageArray(country.languages);
                  let last = last
                "
              >
                {{ language }}{{ last ? "" : ", " }}
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
      <div class="country-borders-container">
        <h2>Border Countries:</h2>
        <ng-container *ngFor="let border of borders">
          <button routerLink="/restcountries/details/{{ border.common }}">
            {{ border.common }}
          </button>
        </ng-container>
      </div>
    </div>
  </section>
</section>
