:host {
  .dialog-edit-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    button {
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 5px;
      color: #fff;
      flex: 1;

      &.button-submit {
        background-color: var(--blue-primary-color);

        &[disabled] {
          background-color: var(--blue-secondary-color);
        }
      }

      &.button-cancel {
        background-color: var(--tertiary-color);
      }
    }
  }

  ::ng-deep .mat-form-field {
    .mat-select-min-line {
      color: var(--secondary-color);
    }
    .mat-input-element {
      color: var(--secondary-color);
    }
    .mat-form-field-label {
      color: var(--secondary-color);
    }
    .mat-form-field-underline {
      background-color: var(--blue-primary-color);
    }
    .mat-form-field-ripple {
      background-color: var(--blue-primary-color);
    }
  }
}
