@import "/src/scss/variables.scss";
:host {
  .add-task {
    max-width: 100vw;
    // background-color: $tertiary-color;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    gap: 20px;

    margin: 0px auto;

    .add-input {
      flex-grow: 1;
    }

    .add-button {
      flex-shrink: 0;

      button {
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 5px;
        background-color: $blue-primary-color;
      }
    }
    .add-input-field {
      width: 100%;
    }

    .mat-raised-button.mat-primary {
      background-color: $blue-primary-color;
    }

    .mat-hint {
      font-size: 0.9rem;
    }

    // button[disabled] .mat-icon {
    //   color: $blue-secondary-color;
    // }

    // button .mat-icon {
    //   .mat-icon {
    //     color: $secondary-color;
    //   }
    // }
  }
}
