<form [formGroup]="form">
  <div class="add-task">
    <div class="add-input">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Digite a nova tarefa</mat-label>
        <input matInput #input formControlName="name" maxlength="75" />
        <mat-hint align="end">{{ input.value.length }}/75</mat-hint>
        <mat-error
          ><app-error-msg
            [label]="'Este'"
            [control]="form.controls.name"
          ></app-error-msg
        ></mat-error>
      </mat-form-field>
    </div>
    <div class="add-button">
      <button
        [disabled]="form.invalid"
        style="cursor: pointer"
        (click)="emitValue()"
      >
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>
</form>
