:host {
  button {
    border: 1px solid var(--tertiary-color-light);
    padding: 10px;
    color: var(--tertiary-color-light);
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
