@import "/src/scss/variables.scss";

:host {
  .mat-dialog-container {
    background: var(--primary-color);
  }

  .mat-dialog-content p {
    color: var(--secondary-color);
  }

  .dialog-edit-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      flex: 1;
    }
  }
}
