<div
  class="countrie-card showUp"
  [routerLink]="['details', country.name.common]"
>
  <img src="{{ country.flags.png }}" alt="Photo of a Shiba Inu" />
  <div class="countrie-card-content">
    <h2 class="countrie-card-content-title">{{ country.name.common }}</h2>
    <div class="countrie-card-content-subtitle">
      <ul>
        <li>
          <strong>Population</strong>: {{ country.population | population }}
        </li>
        <li><strong>Capital</strong>: {{ country.capital }}</li>
        <li><strong>Region</strong>: {{ country.region }}</li>
      </ul>
    </div>
  </div>
</div>
