.countrie-card {
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  }

  .countrie-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    color: var(--secondary-color);

    .countrie-card-content-title {
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .countrie-card-content-subtitle {
      font-size: 0.9rem;
      letter-spacing: 1;
      font-weight: 300;
      color: var(--secondary-color);

      ul {
        li {
          strong {
            font-weight: 700;
          }

          & ~ li {
            margin-top: 6px;
          }
        }
      }
    }
  }
}

// @keyframes showUp {
//   0% {
//     opacity: 0;
//     transform: translateY(5px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
