<div class="perfil" *ngIf="verifyIfDataAccountIsEmpty(); else accountEmpty">
  <div class="perfil-image" (click)="navigateToLogin()">
    <img
      src="https://media.istockphoto.com/id/1314415203/pt/foto/always-smile.jpg?s=612x612&w=0&k=20&c=gALP0IDYtgUfKDqP97ara9dFKf5kGRlkHSi68vvG3zI="
      alt=""
    />
  </div>
  <div class="perfil-content" (click)="navigateToLogin()">
    <h3>{{ dataAccount.username }}</h3>
    <span>Acesse sua conta</span>
  </div>
</div>

<ng-template #accountEmpty>
  <div class="perfil accountEmpty">
    <div class="perfil-image" (click)="navigateToLogin()">
      <mat-icon>person</mat-icon>
    </div>
    <div class="perfil-content" (click)="navigateToLogin()">
      <h3>Crie sua conta</h3>
      <span>clique aqui</span>
    </div>
  </div>
</ng-template>
