.sidenav-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 15px;
  flex-direction: column;
  background-color: var(--primary-color);
  z-index: 600;

  .sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    mat-icon {
      color: var(--secondary-color);
    }

    .sidenav-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        width: 100%;
        background-color: var(--tertiary-color);
        padding: 10px;
        border-radius: 15px;
        transition: 0.2s ease;

        mat-icon {
          transition: 0.2s ease;
        }
        span {
          transition: 0.2s ease;
        }

        &:hover {
          background-color: var(--blue-primary-color);

          mat-icon {
            color: #fff;
          }

          span {
            font-size: 1rem;
            color: #fff;
          }
        }
      }
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        span {
          font-size: 1rem;
          color: var(--secondary-color);
        }
        mat-icon {
          color: var(--blue-primary-color);
        }
      }
    }
  }

  .sidenav-info {
    button {
      border: 1px solid var(--tertiary-color-light);
      padding: 10px;
      color: var(--tertiary-color-light);
      background-color: transparent;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

::ng-deep .mat-menu-panel {
  border-radius: 10px !important;
  border: 1px solid var(--tertiary-color-dark) !important;
}

.mat-menu-item {
  transition: 0.2s ease;
  &:hover {
    background-color: var(--tertiary-color);
  }
}

::ng-deep .info-options {
  background: var(--primary-color);

  box-shadow: none !important;

  button {
    color: var(--secondary-color);
  }

  .menu-icon {
    color: var(--secondary-color);
  }
}

::ng-deep {
  .cdk-overlay-pane {
    margin-bottom: 15px;
  }
}

// .menu-container {
//   padding: 32px 0px;
//   background-color: var(--primary-color);
//   box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
//   z-index: 30;
//   z-index: 300;

//   .menu {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     @media (max-width: 768px) {
//       display: flex;
//     }

//     .menu-button {
//       border: none;
//       display: none;
//       padding: 8px;
//       border-radius: 10px;
//       background: transparent;
//       cursor: pointer;

//       @media (max-width: 768px) {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }

//       &:hover {
//         background: var(--tertiary-color);
//       }

//       mat-icon {
//         color: var(--secondary-color);
//       }
//     }

//     .menu-content {
//       display: flex;
//       align-items: center;
//       gap: 20px;
//     }

//     .menu-itens-container {
//       display: flex;
//       align-items: center;
//       gap: 20px;

//       .menu-itens {
//         @media (max-width: 768px) {
//           display: none;

//           &.is-open {
//             display: flex;
//             position: absolute;
//             top: 100px;
//             right: 0;
//             left: 0;
//             background: var(--primary-color);
//             box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
//             width: 100%;
//             z-index: 200;
//             padding: 20px 0px;

//             ul {
//               flex-direction: column;
//               align-items: center;
//               width: 100%;
//               gap: 0px;

//               li {
//                 width: 100%;
//                 margin: 0 auto;
//                 display: flex;
//                 justify-content: flex-start;
//                 padding: 15px 0px;
//                 transition: 0.2s ease;

//                 &:hover {
//                   background-color: var(--tertiary-color);
//                 }
//                 & ~ li {
//                   border-top: 1px solid var(--secondary-color-transparent);
//                 }

//                 a {
//                   width: 80%;
//                   margin: 0 auto;
//                   padding: 0;

//                   &:hover {
//                     &::after {
//                       display: none;
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }

//         ul {
//           display: flex;
//           gap: 12px;

//           li a {
//             font-size: 1.2rem;
//             color: var(--secondary-color);
//             padding: 12px;
//             border-radius: 8px;
//             transition: 0.2s ease;
//             position: relative;
//             transition: ease;

//             &:hover {
//               transform: scale(1);
//               &::after {
//                 content: "";
//                 animation: fade-in-right 0.3s forwards;
//                 width: 100%;
//                 height: 3px;
//                 border-radius: 10px;
//                 background-color: var(--blue-primary-color);
//                 display: block;
//                 position: absolute;
//                 bottom: -5px;
//                 left: 0;
//               }
//             }
//           }
//         }
//       }
//     }

//     .toggle {
//       // @media (max-width: 768px) {
//       //   display: none;
//       // }
//       .mat-slide-toggle {
//         display: flex;
//         align-items: center;
//         gap: 10px;

//         .mat-icon {
//           color: var(--secondary-color);
//         }
//       }
//     }
//   }

//   .menu-logo {
//     cursor: pointer;
//     h1 {
//       color: var(--secondary-color);
//       font-weight: 600;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .menu {
//     flex-direction: flex;
//     gap: 20px;
//   }
//   .menu-itens-container {
//     flex-direction: column;
//     gap: 20px;
//   }
// }

// @keyframes fade-in-right {
//   0% {
//     opacity: 0;
//     transform: translateX(-30px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
