<!-- <header class="menu-container">
  <div class="menu container">
    <div class="menu-logo" routerLink="/">
      <h1>Projetos</h1>
    </div>
    <div class="menu-itens-container">
      <nav class="menu-itens showRight" [class.is-open]="isMenuOpen">
        <ul>
          <li><a routerLink="/viacep" (click)="toggleMenu()">ViaCep</a></li>
          <li><a routerLink="/" (click)="toggleMenu()">Todo List</a></li>
          <li>
            <a routerLink="/restcountries" (click)="toggleMenu()"
              >Rest Countries</a
            >
          </li>
        </ul>
      </nav>
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="isChecked" (change)="changed($event)">
          <mat-icon>{{ nameMode }}</mat-icon>
        </mat-slide-toggle>
      </div>
    </div>
    <div class="menu-button" (click)="toggleMenu()">
      <mat-icon class="fade">{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
    </div>
  </div>
</header> -->

<!-- <mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav mode="over">
    <ul>
      <li>
        <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span [hidden]="isExpanded">Início</span>
        </a>
      </li>
      <li>
        <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span [hidden]="isExpanded">Início</span>
        </a>
      </li>
      <li>
        <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span [hidden]="isExpanded">Início</span>
        </a>
      </li>
      <li>
        <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span [hidden]="isExpanded">Início</span>
        </a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()">Abrir/Fechar sidenav</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <mat-drawer-container #drawer class="example-container" autosize opened>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-icon (click)="showFiller = !showFiller">menu</mat-icon>
    <ul>
      <li>
        <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span *ngIf="showFiller">Início</span>
        </a>
      </li>
      <li>
        <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span *ngIf="showFiller">Início</span>
        </a>
      </li>
      <li>
        <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span *ngIf="showFiller">Início</span>
        </a>
      </li>
      <li>
        <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span *ngIf="showFiller">Início</span>
        </a>
      </li>
    </ul>
  </mat-drawer>
  <p>contetnasdfssssssssssssssssssssssssssssssssss f asdf asd fasd f sa f sd</p>
</mat-drawer-container> -->

<div>
  <nav class="sidenav-bar">
    <div class="sidenav-content">
      <mat-icon (click)="isExpanded = !isExpanded">menu</mat-icon>

      <ul class="sidenav-list">
        <li
          *ngFor="let link of links"
          [@sidenavAnimation]="sidenavState()"
          routerLink="{{ link.routerLink }}"
        >
          <a>
            <mat-icon>{{ link.icon }}</mat-icon>
            <span class="showRight" *ngIf="isExpanded">{{ link.name }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidenav-info">
      <button [matMenuTriggerFor]="menu">
        <mat-icon>{{ nameMode }}</mat-icon>
      </button>
      <mat-menu
        #menu="matMenu"
        yPosition="above"
        xPosition="after"
        class="info-options"
      >
        <button mat-menu-item (click)="darkMode()">Dark Mode</button>
        <button mat-menu-item (click)="lightMode()">Light Mode</button>
      </mat-menu>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
