<header class="menu-container">
  <div class="menu container">
    <div class="menu-logo" routerLink="/">
      <h1>Projetos</h1>
    </div>
    <div class="menu-itens-container">
      <nav class="menu-itens showRight" [class.is-open]="isMenuOpen">
        <ul>
          <li><a routerLink="/viacep" (click)="toggleMenu()">ViaCep</a></li>
          <li><a routerLink="/" (click)="toggleMenu()">Todo List</a></li>
          <li>
            <a routerLink="/restcountries" (click)="toggleMenu()"
              >Rest Countries</a
            >
          </li>
        </ul>
      </nav>
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="isChecked" (change)="changed($event)">
          <mat-icon>{{ nameMode }}</mat-icon>
        </mat-slide-toggle>
      </div>
    </div>
    <div class="menu-button" (click)="toggleMenu()">
      <mat-icon class="fade">{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
