<ng-container *ngIf="isLargeScreen; else menuMobile">
  <mat-drawer-container #drawer autosize opened>
    <mat-drawer #drawer class="sidenav-bar" mode="side" opened>
      <nav class="sidenav-bar">
        <div class="sidenav-content">
          <mat-icon (click)="showFiller = !showFiller">menu</mat-icon>

          <ul class="sidenav-list">
            <li *ngFor="let link of links" [@sidenavAnimation]="sidenavState()">
              <a
                routerLink="{{ link.routerLink }}"
                routerLinkActive="link-active"
              >
                <mat-icon>{{ link.icon }}</mat-icon>
                <span class="showRight" *ngIf="showFiller">{{
                  link.name
                }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="sidenav-info">
          <app-dark-mode></app-dark-mode>
        </div>
      </nav>
    </mat-drawer>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-container>
</ng-container>

<ng-template #menuMobile>
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="over"
      class="sidenav-mobile-menu"
      appViewportHeight
    >
      <div class="container">
        <div class="header">
          <div class="menu-logo" routerLink="/">
            <h1>Projetos</h1>
          </div>
          <button mat-icon-button (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <ul class="sidenav-list">
          <li *ngFor="let link of links">
            <a
              routerLink="{{ link.routerLink }}"
              routerLinkActive="link-active"
              (click)="sidenav.close()"
            >
              <mat-icon>{{ link.icon }}</mat-icon>
              <span class="showRight">{{ link.name }}</span>
            </a>
          </li>
        </ul>

        <div class="sidenav-info">
          <app-dark-mode></app-dark-mode>
        </div>

        <!-- <div class="perfil">
          <div class="perfil-image">
            <img
              src="https://media.istockphoto.com/id/1314415203/pt/foto/always-smile.jpg?s=612x612&w=0&k=20&c=gALP0IDYtgUfKDqP97ara9dFKf5kGRlkHSi68vvG3zI="
              alt=""
            />
          </div>
          <div class="perfil-content">
            <h3>Israel Bousquet</h3>
            <span>israelbousquet@gmail.com</span>
          </div>
        </div> -->
      </div>
    </mat-sidenav>

    <div class="sidenav-mobile-header">
      <div class="container">
        <div class="header-content">
          <div class="menu-logo" routerLink="/">
            <h1>Projetos</h1>
          </div>
          <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-container>
</ng-template>
