:host {
  section {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) {
      height: 80vh;
    }

    .account-container {
      h2 {
        font-size: 1.9rem;
        color: var(--secondary-color);
        margin-bottom: 35px;
        font-weight: 700;
      }

      .content-tt {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
    }
  }
}
