<section class="project-title">
  <div class="project-container">
    <div class="project-title-content">
      <h1>Tasks</h1>
      <p>Todas as suas tasks estão aqui</p>
    </div>
  </div>
</section>
<section class="projects-container">
  <div class="projects-grid">
    <!-- <div class="button-itens">
      <button mat-button>
        <mat-card-title>Adicione um novo projeto</mat-card-title>j
        <mat-icon>add_circle</mat-icon>
      </button>
    </div> -->
    <div class="project-card add-project" (click)="addProject()">
      <p>Adicione um<br />novo projeto</p>
      <mat-icon class="add-icon">add_circle</mat-icon>
    </div>
    <a class="project-card" routerLink="/tasks">
      <div>
        <h2>Task Principal</h2>
      </div>
    </a>
  </div>
</section>
