<section class="container">
  <section class="project-title">
    <div class="project-container">
      <div class="project-title-content showUp">
        <h1>Projects</h1>
        <p>All your tasks are here</p>
      </div>
      <div class="project-title-button" (click)="deleteAllProjects()">
        <span>Delete all projects</span>
        <mat-icon>delete</mat-icon>
      </div>
    </div>
  </section>
  <section class="projects-container">
    <div class="projects-grid">
      <div class="project-card add-project" (click)="addProject()">
        <p class="showUp">Add a<br />new project</p>
        <mat-icon class="add-icon showUp">add_circle</mat-icon>
      </div>
      <ng-container
        *ngFor="let project of projects$ | async; let index = index"
      >
        <app-project [project]="project" [projectIndex]="index"></app-project>
      </ng-container>
    </div>
  </section>
</section>
