<section class="add-task-container">
  <div class="add-task">
    <div class="add-task-input">
      <app-task-add-input
        [textInput]="'Digite a nova tarefa'"
        (valueChange)="addTask($event)"
      ></app-task-add-input>
    </div>
  </div>

  <div>
    <ul class="subtask-lista">
      <ng-container *ngIf="tasks$ | async as tasks; else loading">
        <li *ngFor="let task of tasks; let index = index">
          <app-task
            [taskIndex]="index"
            [task]="task"
            (taskChange)="addSubTask($event, index)"
          ></app-task>
        </li>
      </ng-container>
      <ng-template #loading> Carregando... </ng-template>
    </ul>
  </div>
</section>
