<header class="title-container">
  <div class="title showBottom">
    <div class="title-content-container">
      <div class="title-icon">
        <mat-icon>{{ projectIcon }}</mat-icon>
      </div>
      <h2>{{ projectName }}</h2>
    </div>
    <div class="title-actions">
      <app-task-progress></app-task-progress>
      <mat-card style="cursor: pointer" (click)="deleteAllTasks()">
        <div class="painel-open-delete-button">
          <span>Deletar todas as Tasks</span>
          <mat-icon>delete</mat-icon>
        </div>
      </mat-card>
    </div>
  </div>
</header>
