@import "/src/scss/variables.scss";
:host {
  .title-container {
    max-width: 100vw;

    .title {
      background-color: $bg-color-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      margin: 0 auto;
      padding: 40px 0px;
    }

    h2 {
      color: $secondary-color;
      font-size: 3rem;
      font-weight: 700;
    }
  }

  @media (max-width: 900px) {
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .painel-open-delete-button {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      color: $secondary-color;
    }
  }

  .mat-card {
    padding: 15px 20px;
    border-radius: 30px;
    background-color: $bg-color;
  }

  .mat-icon {
    color: $tertiary-color;
  }

  &:hover {
    .mat-card {
      transition: 0.2s ease;
      background: $red-primary-color;
    }
    .mat-icon {
      transition: 0.2s ease;
      color: $secondary-color;
    }
  }
}
