<section class="subtask-container showUp">
  <div class="subtask container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ task.taskname }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="painel-open">
        <app-task-add-input
          [textInput]="'Digite a Sub-Tarefa'"
          (valueChange)="emitValueToSubtask($event)"
        ></app-task-add-input>

        <div class="painel-open-content">
          <ul>
            <li *ngFor="let subtask of task.subtask; let i = index">
              <ng-container *ngIf="subtask.name !== ''">
                <app-subtask
                  [subtask]="subtask"
                  [task]="task"
                  [taskIndex]="taskIndex"
                  [subtaskIndex]="i"
                ></app-subtask>
              </ng-container>
            </li>
          </ul>

          <div class="painel-open-delete">
            <app-task-delete
              [task]="task"
              [projectIndex]="projectIndex"
            ></app-task-delete>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</section>
