@use "node_modules/@ngneat/hot-toast/src/styles/styles.scss";
@import "/src/scss/variables.scss";
@import "/src/scss/reset.scss";
@import "/src/scss/material-global.scss";
@import "src/theme.scss";

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  // background-color: $bg-color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
