@use "node_modules/@ngneat/hot-toast/src/styles/styles.scss";
@import "/src/scss/variables.scss";
@import "/src/scss/reset.scss";
@import "/src/scss/material-global.scss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $bg-color;
}
