@use "node_modules/@ngneat/hot-toast/src/styles/styles.scss";
@import "/src/scss/variables.scss";
@import "/src/scss/reset.scss";
@import "/src/scss/material-global.scss";
@import "src/theme.scss";

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

html,
body {
  height: 100%;
}
* {
  font-family: "Nunito Sans", sans-serif;
}
