:root {
  --primary-color: #2b2d31;
  --secondary-color: #fafafa;
  --secondary-color-transparent: #fafafa70;
  --tertiary-color: #41434a;
  --bg-color: #1e1f22;
  --bg-color-dark: #111214;
  --blue-primary-color: #5865f2;
  --blue-secondary-color: #292e66;
  --red-primary-color: rgb(252, 77, 77);
  --red-secondary-color: rgb(104, 39, 39);
  --green-primary-color: rgb(66, 233, 16);
  --green-secondary-color: rgb(28, 107, 4);
}

:root .ligthMode {
  --primary-color: #ffffff;
  --secondary-color: #2e2e5a;
  --secondary-color-transparent: #5865f28f;
  --tertiary-color: #d6def8;
  --bg-color: #e9efff;
  --bg-color-dark: #e9efff;
  --blue-primary-color: #5865f2;
  --blue-secondary-color: #a6adff;
  --red-primary-color: rgb(252, 77, 77);
  --red-secondary-color: rgb(104, 39, 39);
  --green-primary-color: rgb(66, 233, 16);
  --green-secondary-color: rgb(28, 107, 4);
}
