$primary-color: #2a282a;
$secondary-color: #fafafa;
$tertiary-color: #464646;
$bg-color: #141414;
$bg-color-dark: #000000;
$blue-primary-color: #007bff;
$blue-secondary-color: #00448d81;
$red-primary-color: rgb(252, 77, 77);
$red-secondary-color: rgb(104, 39, 39);
$green-primary-color: rgb(66, 233, 16);
$green-secondary-color: rgb(28, 107, 4);
