<div class="countries">
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="countries-input showRight">
      <mat-label>
        <mat-icon>search</mat-icon>
        Search for a country...
      </mat-label>
      <input matInput formControlName="name" (input)="filterChange()" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="countries-input showLeft">
      <mat-label>Filter by region</mat-label>
      <mat-select formControlName="region">
        <mat-option (click)="filterChange()" [value]="''">All</mat-option>
        <ng-container *ngFor="let region of regions">
          <mat-option (click)="filterChange()" [value]="region">{{
            region
          }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </form>
</div>
